@charset "utf-8";
html{
    font-size: 100%;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.875rem;
}
img{
    max-width: 100%;
}
ul li{
    list-style: none;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.section_title{
    text-align: center;
    padding: 15px;
}
#header{
    margin-top: 60px;
}
#header .header_logo{
    width: 180px;
    line-height: 1;
    margin-bottom: 15px;
}
#mainvisual{
    margin-bottom: 60px;
}
.inner{
    width: 800px;
    margin: 0 auto;
}
#index{
    background-color: rgb(245, 245, 245);
    padding: 30px;
}
#index .index_list{
    display: table;
    margin: 0 auto;
}
#index ol{
    border: 1px solid #000;
    padding: 20px 145px;
}
#index ol li{
    line-height: 3;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 45px;
    padding-left:0 ;
}
.list li{
    width: 49%;
    margin-bottom: 15px;
}
.list li img{
    vertical-align: bottom;
}
#detail{
    width: 100%;
    background-color: rgb(245, 245, 245);
    display: table;
    margin-bottom: 150px;
}
.content{
    display: flex;
    margin-bottom: 30px;
}
.content dl{
    width: 30%;
    padding-left:50px ;
}
.content dl dd{
    margin-left: 0;
}
.text{
    width: 45%;
    border-left: 1px solid #000;
    padding-left: 20px;
}
#footer{
    text-align: center;
}

